<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/rest.css">
    <link rel="stylesheet" href="./demo.css">
    <link rel="stylesheet" href="./datePicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <title>loading</title>
</head>
</head> 
<body>
    <header class="header">
        <div class="left">
        </div>
        <div class="center">loading</div>
        <div class="right"></div>
    </header>
    <main class="datepicker-contain">
            <h2 class="v-title">请选择日期:</h2>
            <input type="button" class="datepicker" value="选择日期">
    </main>
</body>
</html>
<script src="./datePicker.js"></script>
<script> 
    new detePicker('.datepicker');
</script>
    