<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    @@include('./include/source.html')

<body>
    <div class="container">
        <header class="header">
            <div class="left">
                <a class='iconfont ' href="./index.html"></a>
            </div>
            <div class="center">示例</div>
            <div class="right"></div>
        </header>
        <main class="main">
            <div class="content">
                <h2 class="title">js 组件</h2>
                <div class="cell-list has-border">
                    <a href="./toast.html" class="cell link">
                        <span class="label">toast</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                    <a href="./alert.html" class="cell link">
                        <span class="label">alert</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                    <a href="./vSlide.html" class="cell link">
                        <span class="label">slide</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                    <a href="./datepicker.html" class="cell link">
                        <span class="label">datepicker</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a> 
                    <a href="./validate.html" class="cell link">
                        <span class="label">validate</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                    <a href="./loading/index.html" class="cell link">
                        <span class="label">loading</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                    <a href="https://github.com/zhoushengmufc/iosselect" class="cell link">
                        <span class="label">城市Picker</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script src="../js/jquery-3.1.1.min.js"></script>
</body>

</html>