<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vSlide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../css/vslide.css">
    @@include('./include/source.html')
    <script src="../js/vSlide.js"></script>
</head>

<body>
    <div class="container ">
        @@include('./include/header.html',{"title": "slide"})
        <div class="main">
            <h2 class="v-title">轮播图</h2>
            <div class="v-slide v-slide1">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <img src="../images/banner-1.jpg" alt="">
                    </li>
                    <li class="swiper-slide">
                        <img src="../images/banner-2.jpg" alt="">
                    </li>
                    <li class="swiper-slide">
                        <img src="../images/banner-3.jpg" alt="">
                    </li>
                    <li class="swiper-slide">
                        <img src="../images/banner-4.jpg" alt="">
                    </li>
                </ul>
            </div>

            <div class="v-slide v-slide2">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <img src="../images/banner-4.jpg" alt="">
                    </li>
                    <li class="swiper-slide">
                        <img src="../images/banner-1.jpg" alt="">
                    </li>

                    <li class="swiper-slide">
                        <img src="../images/banner-3.jpg" alt="">
                    </li>
                    <li class="swiper-slide">
                        <img src="../images/banner-2.jpg" alt="">
                    </li>

                </ul>
            </div>


        </div>
    </div>
</body>

</html>
<script>
    new vSlider(".v-slide1",{loopTime:4000})
    new vSlider(".v-slide2 ",{loop:false})
</script>