<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../../css/index.css">
    @@include('../include/source.html')

<body>
    <div class="container">
            <header class="header">
                    <div class="left">
                        <a class='iconfont icon-iconset0419' href="../index.html"></a>
                    </div>
                    <div class="center">loading</div>
                    <div class="right"></div>
                </header>
        <main class="main">
            <div class="content">
                <h2 class="title">loading组件</h2>
                <div class="cell-list has-border">
                    <a href="./load1.html" class="cell link">
                        <span class="label">load1</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                    <a href="./load2.html" class="cell link">
                        <span class="label">load2</span>
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script src="../js/jquery-3.1.1.min.js"></script>
</body>

</html>