<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>load1</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/load1.css">
    @@include('../include/source.html')
</head>

<body>
        @@include('../include/header.html',{"title": "load1"})
        <div class="loader">
                <div class="loading_bg">
                    <div class="loader-inner ball-clip-rotate">
                        <div></div>
                    </div>
                    <div class="loading_text">正在加载...</div>
                </div>
            </div>
 
</body>

</html>