<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>waterfall</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
          @@include('./include/source.html')
    <style>
        .waterfall-content {
            position: relative;
        }

        .box {
            padding: 15px 0 0 5px;
            float: left;
        }

        .pic {
            padding: 5px;
            border: 1px solid red;
            border-radius: 5px;
            box-shadow: 0 0 5px #ccc;
        }

        .pic img {
            width: 165px;
            height: auto;
        }

    </style>
</head>
<body>
<div>
    <header class="header">
        <a href="index.html" class="link left">
            <i class="iconfont">&#xe660;</i>
        </a>
        <div class="center">waterfall</div>
        <div class="right"></div>
    </header>
    <div class="waterfall-content">
        <div class="box">
            <div class="pic">
                <img src="../images/9.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/13.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/11.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/13.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/9.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/12.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/9.jpg" alt="">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="../images/13.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    window.onload = function () {

        var waterfall = function (parent, box) {
            var oParent = document.getElementsByClassName(parent)[0]
            var oBoxs = oParent.getElementsByClassName(box)

            //计算整个页面显示的列数(页面宽/obx的宽)
            var oBxoW = oBoxs[0].offsetWidth;
            var clos = Math.floor(document.documentElement.clientWidth / oBxoW);
//        oParent.style.cssText = 'width:'+oBxoW*clos+'px;margin:0 auto'

            var hArr = [];
            for (var i = 0; i < oBoxs.length; i++) {
                if (i < clos) {
                    hArr.push(oBoxs[i].offsetHeight)
                } else {
                    var minH = Math.min.apply(null, hArr);
                    var index = hArr.indexOf(minH)
                    oBoxs[i].style.position = 'absolute';
                    oBoxs[i].style.top = minH + 'px';
                    oBoxs[i].style.left = oBoxs[index].offsetLeft + 'px';
                    hArr[index] += oBoxs[i].offsetHeight;
                }
            }
        }
        //检测是否具有备了滚条加载数据的条件
        function checkScrollSlide() {
            var oBoxs = document.getElementsByClassName('waterfall-content')[0].getElementsByClassName("box");
            //获取最后一个元素的高度;
            var lastBoxH = oBoxs[oBoxs.length - 1].offsetTop + Math.floor(oBoxs[oBoxs.length - 1].offsetHeight / 2)
            var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.body.clientHeight || document.documentElement.clientHeight;
            return ( lastBoxH < scrollTop + height ) ? true : false

        }

        waterfall("waterfall-content", "box")
        var dataInt = {"data": [9, 10, 11, 12, 13]}
        window.onscroll = function () {
            if (checkScrollSlide()) {
                var oParent = document.getElementsByClassName('waterfall-content')[0];
                //将数据渲染到页面
                for (var i = 0; i < dataInt.data.length; i++) {
                    var item = dataInt.data[i];
                    var oBox = document.createElement('div');
                    oBox.className = 'box';
                    oParent.appendChild(oBox);
                    var oPic = document.createElement('div');
                    oPic.className = 'pic';
                    oBox.appendChild(oPic);
                    var oImg = document.createElement('img');
                    oImg.src = '../images/' + item + '.jpg'
                    oPic.appendChild(oImg);
                }
            }
            waterfall("waterfall-content", "box")
        }
    }
</script>
